{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "arrow-spacing": 2,
    "curly": 2,
    "eol-last": 2,
    "indent": [2, 2],
    "no-lonely-if": 2,
    "no-spaced-func": 2,
    "no-unused-vars": 2,
    "no-var": 2,
    "quotes": [2, "single"],
    "space-before-blocks": 2
  },

  "env": {
    "node": true,
    "browser": true,
    "mocha": true
  },

  "globals": {
    "expect": true,
    "sinon": true,
    "whoami": true
  }
}
